*{
	margin:0;
	padding:0;
	font-family: Source Sans Pro, sans-serif;
}

html, body {
	height: 100%;
}

body {
	font-family: trebuchet, sans-serif;
 	width: 80%;
 	margin-left: 10%;
 	margin-right: 10%;
}

body > header {
	background-color: #666666;
	text-align: center;
	color: #fff;
}

body > main {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	position: relative;
}

body > main > section {
	height: 100%;
	width: 80%;
	float: left;
	padding: 1%;
	background-color: #fff;
}	


body > main > aside {
	color: #fff;
	height: 100%;
	width: 20%;
	float: right;
	/*padding: 2%;*/
	background-color: #1A9CB0;
}

ul {
	list-style-type: none; 
}

aside nav a {
	color: #fff;
}

#news-tags {
	margin: 20px 5px 5px 5px;
	background-color: #fff;
	height: 200px;	
	color: #000;		
}

#news-tags header {
	text-align: center;
	color: #fff;
	background-color: #666666;
}

.news-article {
	margin: 5px 5px 10px 5px;
}

.news-article header{
	background-color: #999999;
	color: #fff;
	max-height: 300px;
}

.news-article section p {
	color: #000;
	padding: 0 5px 0 5px;
	margin: 5px;
	border-left: 2px solid #1A9CB0;
}

.news-article header {
	padding-left: 10px;
}

.news-article footer span,time {
	text-align: left;
	margin-right: 30px;
}

.news-article ul li{
	display: inline;
}

.news-article ul{
	display: inline;
}

.news-article-read-more {

}

.news-reviews-menu {
	margin-top: 40px;
	text-indent: 10px;
	font-size: 2em;
	text-transform: capitalize;
}

.news-reviews-menu a {
	margin-right: 20px;
	display: block;
}

.news-reviews-menu a:hover {
	color: #7F993A;
	text-decoration: none;
	font-weight: bold;
}

.news-reviews-menu-selected {
	color: #000;
	background-color: #fff;
}

.news-sort {
	text-align: center;
}

.news-sort i, ul, li, span {
	display: inline;
	padding-right: 20px;
}

.news-sort > ul > li {
	position: relative;
}

.news-sort a {
	text-decoration: none;
	color: #727878;
}

.news-sort a:hover {
	text-decoration: none;
}

.news-sort-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 150px;
	display: none;
}

.news-sort li:hover .news-sort-dropdown {
	display: block;
}

.news-sort-dropdown li {
	display: block;
	text-align: left;
	padding: 0 0 0 3px;
}

.news-sort-dropdown a:hover {
	color: #464547;
}